<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @order.sent %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
